@using PagedList
@using PagedList.Mvc
@model IEnumerable<eStore.Models.UsersViewModel>

@{
    ViewBag.Title = "المستخدمون";
    var c = 0;
    var status = Convert.ToByte(TempData["Status"]);
}

@{
    if (status == 1)
    {
        <div class="alert alert-success">
            <span><strong>@TempData["Message"].ToString()</strong></span>
        </div>
    }
    else if (status == 2)
    {
        <div class="alert alert-danger">
            <span><strong>@TempData["Message"].ToString()</strong></span>
        </div>
    }
}

<h2>@ViewBag.Title</h2>
<hr />
<p>
    <a href="@Url.Action("Create")" class="btn btn-success"><span class="glyphicon glyphicon-user"></span> إضافة مستخدم جديد</a>
</p>

<table class="table table-bordered table-hover table-responsive-sm text-center">
    <thead>
        <tr>
            <th class="text-center">#</th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.UserType)
            </th>
            <th class="text-center">
                الأوامر
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@{ c++; } @c</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.UserType)
                        </td>
                        <td>
                            <a href="@Url.Action("Edit",new { id = item.Id })" class="btn btn-warning"> تعديل </a>
                            <a href="@Url.Action("Delete",new { id = item.Id })" class="btn btn-danger"> حذف </a>
                            @{
                                if (item.IsActive)
                                {
                                    using (Html.BeginForm("ChangeStatus", "UsersAdmin", FormMethod.Post, new { @class = "form-inline" }))
                                    {
                                        @Html.Hidden("id", item.Id)
                                        <button type="submit" class="btn btn-secondary">إيقاف</button>
                                    }
                                }
                                else
                                {
                                    using (Html.BeginForm("ChangeStatus", "UsersAdmin", FormMethod.Post, new { @class = "form-inline" }))
                                    {
                                        @Html.Hidden("id", item.Id)
                                        <button type="submit" class="btn btn-success">تفعيل</button>
                                    }
                                }
                            }
                            @*<a href="@Url.Action("ResetPassword", "Account", new { Id = item.Id, Area = "" })" class="btn btn-info"> تهيئة كلمة المرور</a>*@
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5">لاتوجد بيانات</td>
                </tr>
            }
        }
    </tbody>

</table>

<span class="text-center">
    @Html.PagedListPager((IPagedList)Model, pageNo => Url.Action("Index", "UsersAdmin",
                    new { pageNo }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
</span>
