@using System.Diagnostics.Eventing.Reader
@model eStore.ViewModels.ShoppingCartViewModel

@{
    ViewBag.Title = "سلّة التسوق";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script type="text/javascript">
    $(function () {
        //$("#cart-table").dataTable();

        $(".RemoveLink").click(
            function () {
                var recordToDelete = $(this).attr("data-id");
                if (recordToDelete != '') {
                    // Perform the ajax post
                    $.post("/ShoppingCart/RemoveFromCart", { "id": recordToDelete },
                        function (data) {
                            // Successful requests get here
                            // Update the page elements
                            if (data.ItemCount == 0) {
                                $('#row-' + data.DeleteId).fadeOut('slow');
                            }
                            else {
                                $('#item-count-' + data.DeleteId).text(data.ItemCount);
                            }
                            $('#update-message').show();
                            $('#cart-total').text(data.CartTotal);
                            $('#update-message').text(data.Message).fadeOut(5000);
                            $('#cart-status').text(data.CartCount);
                        });
                }
            });
    });
    function handleUpdate() {
        // Load and deserialize the returned JSON data
        var json = context.get_data();
        var data = Sys.Serialization.JavaScriptSerializer.deserialize(json);
        // Update the page elements
        if (data.ItemCount == 0) {
            $('#row-' + data.DeleteId).fadeOut('slow');
        } else {
            $('#item-count-' + data.DeleteId).text(data.ItemCount);
        }
        $('#cart-total').text(data.CartTotal);
        $('#update-message').text(data.Message);
        $('#cart-status').text('Cart (' + data.CartCount + ')');
    }
</script>
<h3>
    راجع سلّة التسوق خاصتك
</h3>
<hr />
@Html.ActionLink("إتمام الشراء", "AddressAndPayment", "Checkout", null, new { @class = "btn btn-primary" })
<table id="cart-table" class="table table-bordered table-hover table-responsive d-sm-table text-center">
    <thead>
        <tr>
            <th class="text-center">
                اسم المنتج
            </th>
            <th class="text-center">
                السعر (قطعة)
            </th>
            <th class="text-center">
                الكمية
            </th>
            <th class="text-center">الأوامر</th>
        </tr>
    </thead>
    <tbody>
        @{

            if (Model.CartTotal == 0)
            {
                <tr class="alert alert-info" role="alert"><td>لاتوجد منتجات في سلة التسوق الخاصة بك!</td><td></td><td></td><td></td></tr>
            }
            else
            {
                foreach (var item in Model.CartItems)
                {
                    <tr id="row-@item.RecordId">
                        <td>
                            @Html.ActionLink(item.Product.ProductName, "ProductDetails", "Store", new { id = item.ProductId }, null)
                        </td>
                        <td>
                            @item.Product.Price
                        </td>
                        <td id="item-count-@item.RecordId">
                            @item.Count
                        </td>
                        <td>
                            <a href="#" class="RemoveLink btn btn-danger" data-id="@item.RecordId">حذف من السلّة</a>
                        </td>
                    </tr>
                }
                <tr>
                    <td>
                        الإجمالي
                    </td>
                    <td></td>
                    <td></td>
                    <td id="cart-total">
                        @Model.CartTotal
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<div id="update-message" class="alert alert-danger" role="alert" style="display: none">
</div>
<p>
    @Html.ActionLink("الصفحة الرئيسية", "Index", "Home", null, new { @class = "btn btn-dark" })
</p>