@model eStore.Models.Product

@{
    ViewBag.Title = "تفاصيل منتج";
}
<h2>@ViewBag.Title</h2>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Brand.BrandName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand.BrandName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre.GenreName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre.GenreName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.Raw(HttpUtility.HtmlDecode(Html.DisplayFor(model => model.Description).ToString()))
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            الصور
        </dt>

        <dd>
            <div class="row">
                @if (Model.Attachments.Count > 0)
                {
                    foreach (var image in Model.Attachments)
                    {
                        <div class="col-sm-3">
                            <div class="card">
                                <div class="card-body">
                                    <img src="~/Content/Images/Products/@Html.DisplayFor(model => image.FileName)" class="thumbnail" style="width:160px; height:170px; margin-right:10%" />
                                </div>
                                <div class="card-footer">
                                    @using (Html.BeginForm("DeleteImage", "ProductManager", FormMethod.Post))
                                    {
                                        @Html.Hidden("id", Model.ProductId)
                                        @Html.Hidden("imgId", image.Id)
                                        <button type="submit" style="margin-right:35%" class="btn btn-danger">حذف</button>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("تعديل", "Edit", new { id = Model.ProductId }, new { @class = "btn btn-outline-success" }) |
    @Html.ActionLink("العودة إلى القائمة", "Index", null, new { @class = "btn btn-outline-dark" })
</p>